p {
  margin: 0 0 25px 0;
}
a {
  border-bottom-color: #ccc;
}
hr {
  margin: 20px 0;
  height: 2px;
}
.main-inner {
  margin-top: 80px;
}
.header {
  background: #025375;
  border-bottom: #23a1c9  5px solid;
  border-color: #F1925A;
}
.header-inner {
  padding: 25px 0 20px;
}
.header-inner:before,
.header-inner:after {
  content: " ";
  display: table;
}
.header-inner:after {
  clear: both;
}
.brand {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  color: #222;
  background: #222;
  border-bottom: none;
}
.brand:hover {
  color: #222;
}
@media (max-width: 767px) {
  .header {
    border-bottom: #23a1c9 2px solid;
  }
  .header-inner {
    width: auto;
    margin-bottom: 0;
    padding: 10px;
  }
}
.site-meta {
  float: left;
  margin-left: -20px;
  line-height: normal;
}
@media (max-width: 767px) {
  .site-meta {
    margin-left: 10px;
  }
}
.site-meta .brand {
  padding: 2px 1px;
  background: none;
}
@media (max-width: 767px) {
  .site-meta .brand {
    display: block;
  }
}
.site-meta .logo {
  display: none;
}
.site-meta .site-title {
  padding-left: 40px;
  background: url(/images/logo.png) no-repeat left center;
  background-size: auto 100%;
  color: #F1E202;//#bcb60f
  font-size: 28px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .site-meta .site-title {
    font-size: 22px;
    line-height: 34px;
  }
}
.logo-line-before,
.logo-line-after {
  display: none;
  overflow: hidden;
  margin: 0 auto;
  width: 75%;
}
@media (max-width: 767px) {
  .logo-line-before,
  .logo-line-after {
    display: none;
  }
}
.logo-line-before i,
.logo-line-after i {
  position: relative;
  display: block;
  height: 2px;
  background: #222;
}
@media (max-width: 767px) {
  .logo-line-before i,
  .logo-line-after i {
    height: 3px;
  }
}
.brand {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  color: #222;
  background: #222;
  border-bottom: none;
}
.brand:hover {
  color: #222;
}
.use-motion .logo-line-before i {
  left: -100%;
}
.use-motion .logo-line-after i {
  right: -100%;
}
.site-subtitle {
  display: none;
}
.site-nav-toggle {
  position: static;
  float: right;
}
.menu {
  float: right;
  margin: 8px 0 0 0;
}
@media (max-width: 767px) {
  .menu {
    margin: 20px 0 0 0;
    padding: 0;
  }
}
.menu br {
  display: none;
}
.menu .menu-item {
  margin: 0;
}
@media (max-width: 767px) {
  .menu .menu-item {
    display: block;
  }
}
.menu .menu-item a {
  padding: 0 10px;
  background: none;
  border: none;
  border-radius: 2px;
  transition-property: background;
  color: #E8F0F3;
}

@media (max-width: 767px) {
  .menu .menu-item a {
    text-align: left;
  }
}
.menu .menu-item a:hover,
.menu .menu-item-active a {
  background: #e1e1e1;
  color: #025375;
   i::before {
     color: #F1925A;
   }
}
.menu a::before {
  display: none;
}
@media (max-width: 767px) {
  .menu a::before {
    display: block;
  }
}
@media (max-width: 767px) {
  .menu {
    float: none;
  }
}
.site-search form {
  display: none;
}
.posts-expand {
  padding-top: 0;
}
.posts-expand .post-title,
.posts-expand .post-meta {
  text-align: left;
}
@media (max-width: 767px) {
  .posts-expand .post-title,
  .posts-expand .post-meta {
    text-align: center;
  }
}
.posts-expand .post-eof {
  display: none;
}
.posts-expand .post {
  margin-top: 120px;
}
.posts-expand .post:first-child {
  margin-top: 0;
}
.posts-expand .post-meta {
  margin-top: 5px;
  margin-bottom: 20px;
}
.posts-expand .post-title {
  position: relative;
  font-size: 26px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .posts-expand .post-title {
    font-size: 22px;
  }
}
@media (min-width: 1600px) {
  .posts-expand .post-title {
    font-size: 26px;
  }
}
.posts-expand .post-title:hover:before {
  background: #222;
}
@media (max-width: 767px) {
  .posts-expand .post-body {
    font-size: 12px;
  }
}
.posts-expand .post-body img {
  margin: 0;
}
.posts-expand .post-tags {
  text-align: left;
}
.posts-expand .post-tags a {
  padding: 1px 5px;
  background: #f5f5f5;
  border-bottom: none;
}
.posts-expand .post-tags a:hover {
  background: #ccc;
}
.posts-expand .post-nav {
  margin-top: 40px;
}
.post-button {
  margin-top: 20px;
  text-align: left;
}
.post-button a {
  margin: 0 8px 8px 0 !important;
  padding: 0;
  font-size: 14px;
  color: #666;
  background: none;
  border: none;
  border-bottom: 2px solid #666;
  transition-property: border;
}
@media (max-width: 767px) {
  .post-button a {
    font-size: 12px;
  }
}
@media (min-width: 1600px) {
  .post-button a {
    font-size: 16px;
  }
}
.post-button a:hover {
  border-bottom-color: #222;
}
.links-of-blogroll-inline .links-of-blogroll-item {
  display: inline-block;
}
.btn {
  padding: 0 10px;
  border-width: 2px;
  border-radius: 0;
}
.headband {
  display: none;
}
.site-search {
  position: relative;
  float: right;
  margin-top: 5px;
  padding-top: 3px;
}
@media (max-width: 767px) {
  .site-search {
    float: none;
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .container .main-inner {
    width: auto;
    margin-top: 60px;
  }
}
.page-post-detail .post-title,
.page-post-detail .post-meta {
  text-align: center;
}
.page-post-detail .post-title:before {
  display: none;
}
.page-post-detail .post-meta {
  margin-bottom: 60px;
  color: #23a1c9;
  +mobile() { 
    margin-bottom: 30px;
  }
}
.pagination {
  margin: 120px 0 0;
  text-align: left;
}
@media (max-width: 767px) {
  .pagination {
    margin: 80px 10px 0;
    text-align: center;
  }
}
.footer {
  margin-top: 80px;
  padding: 10px 0;
  background: #025375;
  color: #e8f0f3;
}
.footer a {
  color: #F1925A;
}
.footer-inner {
  margin: 0 auto;
  text-align: left;
}
@media (max-width: 767px) {
  .footer-inner {
    width: auto;
    text-align: center;
  }
}

.successIcon{
  display: inline-block;
  width:60px;
  height: 60px;
  background: url("/img/confirmation-tick.png") no-repeat left center;
  background-size: auto 100%;
  animation: fill 0.56s steps(13, start) forwards;
  -webkit-animation: fill 0.56s steps(13, start) forwards;
  -ms-animation: fill 0.56s steps(13, start) forwards
}
@keyframes fill {
  to { background-position: -780px }
}
@-webkit-keyframes fill {
  to { background-position: -780px }
}
@-ms-keyframes fill {
  to { background-position: -780px }
}

.css-columns3 {
  columns: 3;
  column-rule: 1px solid #23a1c9;
  column-gap: 50px;
}
.css-columns3 .columns-title {
  column-span: all;
  text-align: center;
  padding: .5em;
  display: block;
}
.css-columns-vertical {
  margin: 0 auto;
  columns: 1em;
  width: 90%;
  column-rule: dashed 1px #ccc;
  word-wrap: break-word;
  text-align: center;
  direction: rtl;

}
.css-columns-9 {
  margin: 0 auto;
  columns: 3;
  width: 200px;
  text-align: center;
  border: solid 1px #23a1c9;
  padding: 10px 10px 0 10px;
}
.css-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.css-box ul li {
  list-style: none !important;
}
.css-columns-9 li {
  margin-bottom: 10px;
  height: 50px;
  line-height: 50px;
  background: #23a1c9;
  color: #fff;
}
.css-columns-multiple {
  margin: 0 auto;
  columns: 90px;
  width: 300px;
  border: solid 1px #23a1c9;
}

.flexible-flex {
  display: flex;
}
.flexible-inline-flex {
  display: inline-flex;
}
.flexible-flex li {
  width: 20%;
}
.flexible-inline-flex {
  display: inline-flex;
}
.flexible-inline-flex li {
  width: 30px;
}

.flex ul{
  margin:0 1% 10px 0;
  float: left;
  width: 48%;
  min-width: 200px;
}
.flex li {
  padding: 10px;
}
.flex .row {
  flex-direction:row;
}
.flex .row-reverse {
  flex-direction:row-reverse;
}
.flex .column {
  flex-direction:column;
}
.flex .column-reverse {
  flex-direction:column-reverse;
}

.clear {
  clear: both;
}
.flex-box ul {
  border: 1px solid #545454;
  color: #000;
  font-size: 14px;
  box-sizing: border-box;
}
.flex-box ul li {
  text-align: center;
  color: #fff;
}
.flex-box ul li:nth-child(1){
  background: #F2B838;
}
.flex-box ul li:nth-child(2){
  background: #20BEC6;
}
.flex-box ul li:nth-child(3){
  background: #E27887
}
.flex-box ul li:nth-child(4){
  background: #23a1c9
}
.flex-box ul li:nth-child(5){
  background: #bcb60f;
}
.order {
  width: 45%;
  float: left;
  margin-right: 5%;
  margin-bottom: 10px;
}
.order ul{
  padding: 10px;
}
.order li{
  width: calc(100% / 3);
}
.order ul.column{
  flex-flow: column;
}
.order ul.wrap-reverse{
  flex-flow: column wrap-reverse;
  height: 50px;
}
.order .column li:nth-child(2) {
  order: 1;
}
.order .column li:nth-child(3) {
  order: -1;
}
.flex-wrap {
  width: calc(97% / 3);
  float: left;
  margin-right: 1%;
  margin-bottom: 10px;
}
.flex-wrap ul {
  width: 100%;
  padding: 10px;
}
.flex-wrap li {
  width: 100px;
  height: 50px;
}
.flex-wrap .wrap {
  flex-wrap: wrap;
}
.flex-wrap .wrap-reverse {
  flex-wrap: wrap-reverse;
}
.justify-content {
  width: calc(19% - 5px);
  min-width: 100px;
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
}
.justify-content .flex-start{
  justify-content: flex-start;
}
.justify-content .flex-end{
  justify-content: flex-end;
}
.justify-content .center {
  justify-content: center;
}
.justify-content .space-between {
  justify-content:space-between;
}
.justify-content .space-around {
  justify-content:space-around;
}


.grid-box .header {
  grid-area: h;
  background: #17bebb;
}
.grid-box .menu {
  grid-area: m;
  background: #0a55aa;
}
.grid-box .contents {
  grid-area: c;
  background: #ebd30c;
}
.grid-box .footer {
  grid-area: f;
  background: #666;
}
.grid-box div {
  margin: 0px;
  padding: 0px;
}
 .demo-iframe {
   width: 100%;
   height:100%;
   border: 3px solid #ccc;
   display: none;
 }
